*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 0.95rem !important; /* 1rem = 10px*/
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    line-height: 1.8;
    background-color: #f7fafd;
}

.container {
    margin: 0 auto;
    max-width: 100%;
}

@media screen and (max-width: 500px) {
    .logo_img {
        display: block;
        width: 10rem;
        height: auto;
        margin: 2rem 16px 0 0;
        padding: 5px 0;
    }

    ul li {
        margin-bottom: 8px;
    }

    li {
        display: list-item; 
        list-style-type: none;
        position: relative;
    }

    .li::after{
        content: '';
        position: absolute;
        top: 33%;
        left: -16px;
        height: 0.4rem;
        width: 0.4rem;
        background: #44ce6f;
    }

    li a {
        text-decoration: none;
        color: #484848;
    }

    li a:hover {
        color: #44ce6f;    
    }

    h3 {
        color: #0E314C;
        font-size: 17px;
        margin: 30px 0 20px;
        padding: 0 0 10px;
        border-bottom: 1px solid lightgrey;
    }

    .p1 {
        color: #666666;
        font-size: 14px;
        margin-top: 1rem;
    }

    .p2 {
        color: #666666;
        font-size: 14px;
            padding: 1.2rem 0;
        text-align: center;
    }

    hr {
        margin: 0 1rem;
    }

    .big_div_2 {
        display: block;
        border-top: 1px solid lightgrey;
    }

    .med_div {
        padding: 0 1rem;
    }

    .small_div_2 {
        padding: 0 0 0 17px;
    }

    li a.facebook {
        border-color: #4267b2;
        color: #4267b2;
    }

    li a.twitter {
        border-color: #38A1F3;
        color: #38a1f3;
    }

    li a.instagram {
        border-color: #4267b2;
        color: #666666;
    }

    li a.linkedin {
        border-color: #0077b5;
        color: #0077b5;
    }

    .pin {
        border: 1px solid;
        border-radius: 50%;
        padding: 0.2rem;
    }

    .social_links {
        display: flex;
    }

    .social_media {
        padding: 0.3rem;
    }

    ul.social-links li a {
        width: 32px;
        text-align: center;
        line-height: 27px;
        height: 32px;
        border: 1px solid #44ce6f;
        border-radius: 50%;
        color: #44ce6f;
    }

    .feather {
        position: relative;
        left: -6px;
        width: 15px;
        top: 6px;
        color: #44ce6f;
    }
}

@media screen and (min-width: 501px) and (max-width: 767px) {
    .logo_img {
        display: block;
        width: 10rem;
        height: auto;
        margin: 2rem 16px 0 0;
        padding: 5px 0;
    }

    ul li {
        margin-bottom: 8px;
    }

    li {
        display: list-item; 
        list-style-type: none;
        position: relative;
    }

    .li::after{
        content: '';
        position: absolute;
        top: 33%;
        left: -16px;
        height: 0.4rem;
        width: 0.4rem;
        background: #44ce6f;
    }

    li a {
        text-decoration: none;
        color: #484848;
    }

    li a:hover {
        color: #44ce6f;    
    }

    h3 {
        color: #0E314C;
        font-size: 17px;
        margin: 30px 0 20px;
        padding: 0 0 10px;
        border-bottom: 1px solid lightgrey;
    }

    .p1 {
        color: #666666;
        font-size: 14px;
        margin-top: 1rem;
    }

    .p2 {
        color: #666666;
        font-size: 14px;
            padding: 1.2rem 0;
        text-align: center;
    }

    hr {
        margin: 0 1rem;
    }

    .huge_div {
        margin: 0 3rem;
    }

    .big_div_2 {
        display: block;
        border-top: 1px solid lightgrey;
    }

    .med_div {
        padding: 0 1rem;
    }

    .small_div_2 {
        padding: 0 0 0 17px;
    }

    li a.facebook {
        border-color: #4267b2;
        color: #4267b2;
    }

    li a.twitter {
        border-color: #38A1F3;
        color: #38a1f3;
    }

    li a.instagram {
        border-color: #4267b2;
        color: #666666;
    }

    li a.linkedin {
        border-color: #0077b5;
        color: #0077b5;
    }

    .pin {
        border: 1px solid;
        border-radius: 50%;
        padding: 0.2rem;
    }

    .social_links {
        display: flex;
    }

    .social_media {
        padding: 0.3rem;
    }

    ul.social-links li a {
        width: 32px;
        text-align: center;
        line-height: 27px;
        height: 32px;
        border: 1px solid #44ce6f;
        border-radius: 50%;
        color: #44ce6f;
    }

    .feather {
        position: relative;
        left: -6px;
        width: 15px;
        top: 6px;
        color: #44ce6f;
    }
}

@media screen and (min-width: 768px) and (max-width: 921px) {
            /*tablet*/
    .col-sm-1  {width: 8.33%;}
    .col-sm-2  {width: 16.66%;}
    .col-sm-3  {width: 25%;}
    .col-sm-4  {width: 33.33%;}
    .col-sm-5  {width: 41.66%;}
    .col-sm-6  {width: 50%;}
    .col-sm-7  {width: 58.33%;}
    .col-sm-8  {width: 66.66%;}
    .col-sm-9  {width: 75%;}
    .col-sm-10 {width: 83.33%;}
    .col-sm-11 {width: 91.66%;}
    .col-sm-12 {width: 100%;}
  
    [class*="col-sm"] {
      float: left;
      padding: 15px;
    }
    
    .logo_img {
        display: block;
        width: 10rem;
        height: auto;
        margin: 2rem 16px 0 0;
        padding: 5px 0;
    }

    ul li {
        margin-bottom: 8px;
    }

    li {
        display: list-item; 
        list-style-type: none;
        position: relative;
    }

    .li::after{
        content: '';
        position: absolute;
        top: 33%;
        left: -16px;
        height: 0.4rem;
        width: 0.4rem;
        background: #44ce6f;
    }

    li a {
        text-decoration: none;
        color: #484848;
    }

    li a:hover {
        color: #44ce6f;    
    }

    h3 {
        color: #0E314C;
        font-size: 17px;
        margin: 30px 0 20px;
        padding: 0 0 10px;
        border-bottom: 1px solid lightgrey;
    }

    .p1 {
        color: #666666;
        font-size: 14px;
        margin-top: 1rem;
    }

    .p2 {
        color: #666666;
        font-size: 14px;
            padding: 1.2rem 0;
        text-align: center;
    }

    .big_div {
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .big_div_2 {
        display: block;
        border-top: 1px solid lightgrey;
    }

    .med_div {
        padding: 0 2rem;
        width: 50%;
    }

    .support,.address {
        margin-bottom: 1rem;
    }

    .small_div_2 {
        padding: 0 0 0 17px;
    }

    li a.facebook {
        border-color: #4267b2;
        color: #4267b2;
    }

    li a.twitter {
        border-color: #38A1F3;
        color: #38a1f3;
    }

    li a.instagram {
        border-color: #4267b2;
        color: #666666;
    }

    li a.linkedin {
        border-color: #0077b5;
        color: #0077b5;
    }

    .pin {
        border: 1px solid;
        border-radius: 50%;
        padding: 0.2rem;
    }

    .social_links {
        display: flex;
    }

    .social_media {
        padding: 0.3rem;
    }

    ul.social-links li a {
        width: 32px;
        text-align: center;
        line-height: 27px;
        height: 32px;
        border: 1px solid #44ce6f;
        border-radius: 50%;
        color: #44ce6f;
    }

    .feather {
        position: relative;
        left: -6px;
        width: 15px;
        top: 6px;
        color: #44ce6f;
    }
}

@media screen and (min-width: 922px) {
        /*desktop*/
    .col-1  {width: 8.33%;}
    .col-2  {width: 16.66%;}
    .col-3  {width: 25%;}
    .col-4  {width: 33.33%;}
    .col-5  {width: 41.66%;}
    .col-6  {width: 50%;}
    .col-7  {width: 58.33%;}
    .col-8  {width: 66.66%;}
    .col-9  {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
      
    [class*="col-"] {
    float: left;
    padding: 15px;
    }
    
    .logo_img {
        display: block;
        width: 10rem;
        height: auto;
        margin: 2rem 16px 0 0;
        padding: 5px 0;
    }

    ul li {
        margin-bottom: 8px;
    }

    li {
        display: list-item; 
        list-style-type: none;
        position: relative;
    }

    .li::after{
        content: '';
        position: absolute;
        top: 33%;
        left: -16px;
        height: 0.4rem;
        width: 0.4rem;
        background: #44ce6f;
    }

    li a {
        text-decoration: none;
        color: #484848;
    }

    li a:hover {
        color: #44ce6f;    
    }

    h3 {
        color: #0E314C;
        font-size: 17px;
        margin: 30px 0 20px;
        padding: 0 0 10px;
        border-bottom: 1px solid lightgrey;
    }

    .p1 {
        color: #666666;
        font-size: 14px;
        margin-top: 1rem;
    }

    .p2 {
        color: #666666;
        font-size: 14px;
            padding: 1.2rem 0;
        text-align: center;
    }

    .huge_div {
        margin: 2rem 3rem;
    }

    .big_div {
        display: flex;
    }

    .big_div_2 {
        display: block;
        border-top: 1px solid lightgrey;
        margin: 0 2.75rem;
    }

    .med_div {
        padding: 0 1rem;
        margin-bottom: 2rem;
        width: 50%;
    }

    .small_div_2 {
        padding: 0 0 0 17px;
    }

    li a.facebook {
        border-color: #4267b2;
        color: #4267b2;
    }

    li a.twitter {
        border-color: #38A1F3;
        color: #38a1f3;
    }

    li a.instagram {
        border-color: #4267b2;
        color: #666666;
    }

    li a.linkedin {
        border-color: #0077b5;
        color: #0077b5;
    }

    .pin {
        border: 1px solid;
        border-radius: 50%;
        padding: 0.2rem;
    }

    .social_links {
        display: flex;
    }

    .social_media {
        padding: 0.3rem;
    }

    ul.social-links li a {
        width: 32px;
        text-align: center;
        line-height: 27px;
        height: 32px;
        border: 1px solid #44ce6f;
        border-radius: 50%;
        color: #44ce6f;
    }

    .feather {
        position: relative;
        left: -6px;
        width: 15px;
        top: 6px;
        color: #44ce6f;
    }
}

